<!doctype html>
<html lang="ru">
	<head>
		<link rel="stylesheet" type="text/css" href="template/css/bundle.min.css">
		
		<title>Page</title>
		
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta charset="utf-8">
		
		<meta name="description" content="">
		<meta name="keywords" content="">
		
		<meta property="og:url" content="">
		<meta property="og:type" content="">
		<meta property="og:image" content="">
		<meta property="og:title" content="">
		<meta property="og:description" content="">
		
		<meta name="twitter:card" content="">
		<meta name="twitter:site" content="">
		<meta name="twitter:title" content="">
		<meta name="twitter:image" content="">
		<meta name="twitter:creator" content="">
		<meta name="twitter:description" content="">
		
		<link rel="shortcut icon" type="image/x-icon" href="">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="">
		<link rel="apple-touch-icon-precomposed" href="">
		<link rel="shortcut icon" href="">
	</head>
<body class="app">
	<header class="app-header">
		
	</header>